body{
	box-sizing: border-box;
	background-color: #B04632;
}
 h1{
 	color:#CA9D94;
 	font-weight: bold;
 }

span{
	display: inline-block;
	height: 45px;
	width: 250px;
	text-align: center;
	padding: 10px;
	color: #CFD1D3;
	background-color:#9B3E2C;
	border-radius: 5px;
}

span:hover{
	background-color: #6e2f1a;
}

.content2{
	background-color: #E2E4E6;
	display: inline-block;
	height: 80px;
	width: 250px;
	padding: 5px;
	border-radius:5px;
}

button{
	width: 70px !important;
	margin-top: 7px;
}

a{
	color:gray;
}